<div class="container">
    <h1 class="center">Node/MySQL Table</h1>
    <table class="highlight centered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Home</th>
            </tr>
        </thead>

        <tbody>
            {{#each results}}
                <tr>
                    <td>{{first_name}}</td>
                    {{#if last_name}}
                        <td>{{last_name}}</td>
                    {{else}}
                        <td>Unknown</td>
                    {{/if}}
                    <td>{{home}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>